html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

.noUi-base{
  margin-right: 0px;
  width:15px;
}

#age_frame{
	height: 1158;
	overflow-x: hidden;
}

#religion_frame{
	height: 1618;
	overflow-x: hidden;

}

#education_frame{
	height: 1158;
	overflow-x: hidden;
}